<ion-card>
  <ion-card-header>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-card-title>Nome do Paciente</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <b>Sexo.:</b>
      <span>Masculino</span>
    </div>
    <div>
      <b>Idade.:</b>
      <span>24 anos</span>
    </div>
    <div>
      <b>Gasto en.:</b>
      <span>2.000 Kcal</span>
    </div>
  </ion-card-content>
</ion-card>
