<ion-card
  [routerLink]="[path]"
  [queryParams]="{ id: patient.id }"
>
  <ion-card-header>
    <ion-avatar>
      <img src="{{patient.imgUrl}}">
    </ion-avatar>
    <ion-card-title>{{patient.name}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div>
      <b>Sexo.:</b>
      <span>{{patient.sex}}</span>
    </div>
    <div>
      <b>Idade.:</b>
      <span>{{patient.age}} anos</span>
    </div>
    <div>
      <b>Gasto en.:</b>
      <span>{{patient.kcal}} Kcal</span>
    </div>
  </ion-card-content>
</ion-card>
