.container {
  margin-top: 80px;

  > h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 22px;
    padding-left: 15px;


    color: #2C9142;
  }
}

.button-wrapper {
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.back-button {
  width: 220px;
  height: 50px;
}

.statusRow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 55px;

  > ion-spinner {
    transform: scale(2);
  }

  > ion-text {
    opacity: 0.4;
  }
}

.activities-list {
  max-height: 55vh;
  overflow: scroll;

  margin-bottom: 15px;
  border-bottom: 1px solid #9c9c9c9b;
}
