<ion-content>
  <form class="container">
    <h1>Selecione a Atividade</h1>

    <ion-searchbar showCancelButton="focus"></ion-searchbar>

    <ion-grid *ngFor="let activity of activities; let colIndex=index">
      <app-activity-card [activity]="activity" [isEdit]="true"></app-activity-card>
    </ion-grid>

    <div class="button-wrapper">
      <ion-button
        class="back-button"
        fill="outline"
        shape="round"
        [routerLink]="[activitiesPath]"
        [queryParams]="{ id: patientId, name: patientName }"
      >
        Voltar
      </ion-button>
    </div>
  </form>
</ion-content>
