<ion-content>
  <div class="container">
    <div class="avatar-wrapper">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <h3>Nome do Paciente</h3>
        (61)34621333
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <b>Idade</b> !dado
        </ion-col>
        <ion-col>
          <b>Peso</b> !dado
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Altura</b> !dado
        </ion-col>
        <ion-col>
          <b>Sexo</b> !dado
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
