<ion-content>
  <div class="container">
    <div class="avatar-wrapper">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <h3>Nome do Paciente</h3>
        (61) 3462-1333
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <b>Idade</b>
          <span>23 anos</span>
        </ion-col>
        <ion-col>
          <b>Peso</b>
          <span>74 kg</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Altura</b>
          <span>1.80</span>
        </ion-col>
        <ion-col>
          <b>Sexo</b>
          <span>Masculino</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="calc-wrapper">
      <div class="calc-info">
        <span>Último gasto energético calculado</span>
        <h2>2.000 Kcal</h2>
      </div>
      <ion-button shape="round">Calcular</ion-button>
    </div>
  </div>
</ion-content>
