<ion-content>
  <form class="container">
    <ion-avatar>
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </ion-avatar>

    <h3 *ngIf="isLoading === false">{{patientName}}</h3>

    <h1>Atividades Realizadas</h1>

    <ion-row *ngIf="isLoading" class="statusRow">
      <ion-spinner name="bubbles" color="primary"></ion-spinner>
    </ion-row>

    <div *ngIf="isLoading === false" class="activities-list">
      <ion-grid *ngFor="let activity of patientActivitiesResult; let colIndex=index">
        <app-activity-card
          [activity]="activity"
          [isEdit]="true"
          [routerLink]="[activityPath]"
          [queryParams]="{ id: patientId, name: patientName, isEdit: true, activity: stringifyActivityDetail(activity), scheduleId: selectedSchedule.id }"
        ></app-activity-card>
      </ion-grid>

      <ion-row *ngIf="patientActivitiesResult.length === 0" class="statusRow">
        <ion-text>
          Nenhuma atividade registrada para o paciente
        </ion-text>
      </ion-row>
    </div>

    <ion-button
      *ngIf="isLoading === false"
      class="add-activity-button"
      [routerLink]="[selectActivityPath]"
      [queryParams]="{ id: patientId, name: patientName, scheduleId: selectedSchedule.id }"
    >
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Nova atividade
    </ion-button>

    <div *ngIf="isLoading === false" class="button-wrapper">
      <ion-button
        class="calc-button"
        shape="round"
        fill="outline"
        [routerLink]="[patientPath]"
        [queryParams]="{ id: patientId, name: patientName }"
      >
        Voltar
      </ion-button>
      <ion-button
        class="calc-button"
        shape="round"
        [routerLink]="[resultPath]"
        [queryParams]="{ id: patientId, name: patientName, schedule: stringifyActivitySchedule(patientActivitiesSchedule) }"
      >
        Calcular
      </ion-button>
    </div>
  </form>
</ion-content>
