.container {
  margin-top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;

    margin-top: 10px;
  }

  > h1 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    color: #2C9042;

    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.add-activity-button {
  height: 44px;
  width: 80%;

  border-radius: 11px;

  --background: #DAEFDF;
  --color: #2C9042;

  margin-top: 0;
}

.button-wrapper {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.calc-button {
  width: 220px;
  height: 50px;
}

.statusRow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;

  > ion-spinner {
    transform: scale(1.5);
  }

  > ion-text {
    opacity: 0.4;
  }
}

.activities-list {
  max-height: 45vh;
  overflow: scroll;

  margin-bottom: 15px;
  border-bottom: 1px solid #9c9c9c9b;
}
