.container {
  margin-top: 55px;
}

.statusRow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 55px;

  > ion-spinner {
    transform: scale(2);
  }

  > ion-text {
    opacity: 0.4;
  }
}
