<ion-content>
  <form [formGroup]="form" class="container">
    <ion-avatar>
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg">
    </ion-avatar>

    <h3>{{patientName}}</h3>

    <app-activity-card [activity]="activity" [isLoading]="isLoading" [isEdit]="false"></app-activity-card>

    <ion-item>
      <ion-input required formControlName="freequency" type="number"></ion-input>
      <ion-label>Dias / Semana</ion-label>
    </ion-item>

    <ion-item>
      <ion-input required formControlName="duration" type="number"></ion-input>
      <ion-label>Horas / Dia</ion-label>
    </ion-item>

    <a *ngIf="isEdit" class="delete-link">Excluir essa atividade para esse paciente</a>

    <div *ngIf="isEdit" class="button-wrapper">
      <ion-button
        class="custom-button"
        shape="round"
        fill="outline"
        [disabled]="isLoading"
        [routerLink]="[activitiesPath]"
        [queryParams]="{ id: patientId, name: patientName }"
      >
        Voltar
      </ion-button>

      <ion-button
        class="custom-button"
        shape="round"
        [disabled]="isLoading"
      >
        Editar
      </ion-button>
    </div>

    <div *ngIf="!isEdit" class="button-wrapper">
      <ion-button
        class="custom-button"
        shape="round"
        fill="outline"
        [disabled]="isLoading"
        [routerLink]="[selectActivityPath]"
        [queryParams]="{ id: patientId, name: patientName }"
      >
        Voltar
      </ion-button>

      <ion-button
        class="custom-button"
        shape="round"
        [disabled]="isLoading"
        (click)="showConfirmAlert()"
      >
        Adicionar
      </ion-button>
    </div>
  </form>
</ion-content>
