<ion-content>
  <div class="container">
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-input disabled></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Senha</ion-label>
      <ion-input disabled></ion-input>
    </ion-item>

    <ion-button [disabled]="true" shape="round">Entrar</ion-button>
    <p>Não Possui uma conta?</p>

    <ion-button
      (click)="signInWithGoogle()"
      [disabled]="isLoading"
      class="google-button"
      shape="round"
      color="light"
    >
      <ion-icon *ngIf="isLoading === false" slot="start" name="logo-google"></ion-icon>
      <ion-spinner *ngIf="isLoading === true" name="bubbles" color="primary" style="margin-right: 5px;"></ion-spinner>
      Entrar com o Google
    </ion-button>
  </div>
</ion-content>
