<ion-content>
  <div class="container">
    <span>Passo x de 4</span>
    <h2>Qual o nome do seu paciente?</h2>

    <ion-item>
      <ion-input placeholder="Nome"></ion-input>
    </ion-item>

    <div class="buttonWrapper">
      <ion-button fill="outline">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Voltar
      </ion-button>
      <ion-button>
        Continuar
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>
