<ion-content>
  <div class="container">
    <span>Passo {{currentStep.id}} de 4</span>
    <h2>{{currentStep.title}}</h2>

    <form [formGroup]="form" (ngSubmit)="submit()" class="formWrapper">
      <ion-item *ngIf="currentStep.id === 1" class="textInput">
        <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
      </ion-item>

      <ion-item *ngIf="currentStep.id === 2" lines="none">
        <ion-datetime-button datetime="date"></ion-datetime-button>
      </ion-item>

      <ion-modal [keepContentsMounted]="true" lines="none">
        <ng-template>
          <ion-datetime id="date" presentation="date" locale="pt-BR" formControlName="birthDate"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item *ngIf="currentStep.id === 3" class="textInput" lines="none">
        <ion-item>
          <ion-label position="floating">Peso</ion-label>
          <ion-input inputmode="numeric" placeholder="(kg)" formControlName="weight"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Altura</ion-label>
          <ion-input inputmode="numeric" placeholder="(m)" formControlName="height"></ion-input>
        </ion-item>
      </ion-item>

      <ion-item *ngIf="currentStep.id === 4" lines="none">
        <ion-radio-group formControlName="gender">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Feminino</ion-label>
                <ion-radio slot="end" item-left value="Feminino"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item>
                <ion-label>Masculino</ion-label>
                <ion-radio slot="end" item-left value="Masculino"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>
      </ion-item>
    </form>

    <div class="buttonWrapper">
      <ion-button [disabled]="checkIsFirstStep()" (click)="previousStep()" fill="outline">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Voltar
      </ion-button>

      <ion-button *ngIf="!checkIsLastStep()" (click)="nextStep()">
        Continuar
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>

      <ion-button *ngIf="checkIsLastStep()" (click)="showConfirmAlert()" [disabled]="isLoading">
        Cadastrar
        <ion-icon slot="end" *ngIf="isLoading === false" name="checkmark-outline"></ion-icon>
        <ion-spinner slot="end" *ngIf="isLoading === true" name="bubbles" color="#ffffff;" style="margin-left: 5px;"></ion-spinner>
      </ion-button>
    </div>
  </div>
</ion-content>
