<ion-content>
  <div class="container">
    <div class="avatar-wrapper">
        <ion-avatar>
          <img src="{{patient.imgUrl}}">
        </ion-avatar>
        <h3>{{patient.name}}</h3>
        {{patient.telephone}}
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <b>Idade</b>
          <span>{{patient.age}} anos</span>
        </ion-col>
        <ion-col>
          <b>Peso</b>
          <span>{{patient.weight}} kg</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Altura</b>
          <span>{{patient.height}}</span>
        </ion-col>
        <ion-col>
          <b>Sexo</b>
          <span>{{patient.sex}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="calc-wrapper">
      <div class="calc-info">
        <span>Último gasto energético calculado</span>
        <h2>{{patient.kcal}} Kcal</h2>
      </div>
      <ion-button shape="round">Calcular</ion-button>
    </div>
  </div>
</ion-content>
