.container {
  margin-top: 50px;
}

.avatar-wrapper {
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: -5px;
  padding: 10px;
  border-radius: 0px 0px 35px 35px;

  color: #000;
  font-family: 'Montserrat';

  font-weight: 400;
  font-size: 18px;

  background-color: #DAEFDF;

  > h3 {
    font-weight: 800;
  }
}

ion-avatar {
  width: 119px;
  height: 119px;
}

.edit-button {
  width: 45px;
  height: 45px;

  margin-bottom: -30px;
  margin-right: -90px;
}

ion-grid {
  margin: 35px 30px;
}

ion-row {
  display: flex;
  justify-content: space-between;
}

ion-col {
  > b {
    margin-right: 9px;
  }
}

.left-col {
  text-align: right;
}

.calc-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.calc-info {
  margin: 30px 0 60px 0;

  text-align: center;
}

ion-button {
  width: 220px;
  height: 50px;
}

.confirm-edit-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
